not_my_code/*
old/*

# Stuff in Mn linelist folder
Mnlinelists/ivanna_linelists/
Mnlinelists/oldlists/
Mnlinelists/kurucz*
Mnlinelists/linelist*
Mnlinelists/*.moog
Mnlinelists/manganese*
Mnlinelists/*hfs*
Mnlinelists/mn_gf_calc
Mnlinelists/vald*
Mnlinelists/download.html

# Other stuff
figures/*
test/*
tables/*
data/bscl5_stellarparams/
data/dsph_data/
data/evan_data/
data/gc_checks/
data/glob_data/
data/hires_data/
data/no*
data/old*
data/samplespec*
data/